@use '/src/styles/function';
@use '/src/styles/mixin';

.theme-switch {
  font-size: 0.7em;
}

@media screen and (min-width: 768px) {
  .theme-switch {
    position: fixed;
    top: 50%;
    right: 0;
    display: grid;
    place-items: center;
    width: function.rem(55px);
    height: function.rem(55px);
    font-size: 1em;
    transform: translateY(-150%);
    border: 2.5px solid var(--grey-ee-33);
    @include mixin.primary-desktop-icon;

    fa-icon {
      font-size: 1.4em;
    }
  }
}
