@use '/src/styles/function';
@use '/src/styles/mixin';

.theme-switch {
  font-size: 0.7em;
}

@media screen and (min-width: 768px) {
  .theme-switch {
    position: fixed;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    width: function.rem(147px);
    height: function.rem(147px);
    font-size: 1em;
    border-radius: 100vh;
    transform: translate(60%, -60%);
    @include mixin.primary-desktop-icon;

    fa-icon {
      margin-top: 50%;
      margin-right: 50%;
      font-size: 1.4em;
    }
  }
}