<article class="article" [appScrollTracker]="h2Elements">
    <header class="article-header">
        <nav class="article-navigation">
            <a *ngIf="navigation.prev.path"
               class="article-navigation__prev"
               [routerLink]="navigation.prev.path"
            >
                <fa-icon [icon]="faAngleLeft"></fa-icon>
                {{navigation.prev.title}}
            </a>
            <a *ngIf="navigation.next.path"
               class="article-navigation__next"
               [routerLink]="navigation.next.path"
            >
                {{navigation.next.title}}
                <fa-icon [icon]="faAngleRight"></fa-icon>
            </a>
        </nav>
        <h1 class="chapter-title">{{navigation.title}}</h1>
    </header>
    <div id="article-content">
        <router-outlet></router-outlet>
    </div>
</article>