@use '/src/styles/size';

.container {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.middle {
  display: flex;
  flex-grow: 1;
}

.content {
  width: 100%;
  padding-top: size.$navbar-height;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--overlay);
  z-index: var(--z-5);
}

@media screen and (min-width: 768px) {
  .content {
    padding-top: 0;
    padding-left: size.$space-26;
    padding-right: size.$space-26;
    &.expanded {
      padding-left: size.$content-left-spacing;
      padding-right: size.$content-left-spacing;
    }
  }
}
