@use '/src/styles/size';

.container {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.middle {
  display: flex;
  flex-grow: 1;
}

.content {
  width: 100%;
  padding-top: size.$navbar-height;
  margin-inline: auto;
}

.overlay {
  position: fixed;
  inset: 0;
  background: var(--overlay);
  z-index: var(--z-5);
}

@media screen and (min-width: 768px) {
  .content {
    padding-top: 0;
    padding-inline: size.$space-26;
    &.expanded {
      padding-inline: size.$content-left-spacing;
    }
  }
}