@mixin adventPro {
  font-family: "Advent Pro", sans-serif;
}

@mixin quicksand {
  font-family: Quicksand, sans-serif;
}

@mixin primary-desktop-icon {
  background: var(--grey-22-44);
  cursor: pointer;
  color: var(--white);

  &:hover {
    background: var(--grey-55);
  }

  &:active {
    background: var(--grey-66);
  }
}
