@use '/src/styles/function';

$sidebar-width: function.rem(335px);
$collapse-sidebar-width: function.rem(83px);
$content-left-spacing: function.rem(80px);
$footer-height: function.rem(52px);
$navbar-height: function.rem(60px);
$page-max-width: 65ch;

$space-4: function.rem(4px);
$space-8: function.rem(8px);
$space-12: function.rem(12px);
$space-16: function.rem(16px);
$space-26: function.rem(26px);
$space-32: function.rem(32px);
$space-48: function.rem(48px);
$space-64: function.rem(64px);
