:root {
  /* color */
  --white: #FFFFFF;
  --white-black: #FFFFFF;
  --black-white: #111111;
  --grey-fe-44-75: rgba(254, 254, 254, 0.75);
  --grey-ee-33: #EEEEEE;
  --grey-22-88: #222222;
  --grey-33-cc: #333333;
  --grey-44-aa: #444444;
  --grey-44-cc: #444444;
  --grey-22: #222222;
  --grey-44: #444444;
  --grey-55: #555555;
  --grey-66: #666666;
  --grey-77: #777777;
  --grey-aa: #AAAAAA;
  --grey-bb: #BBBBBB;
  --grey-cc: #CCCCCC;
  --grey-66-cc: #666666;
  --blue-e0-00: #E0EDF2;
  --blue-00-e0: #004165;
  --blue-df-24: #DFFAF3;
  --green-e0-00: #E0F2E1;
  --overlay: rgba(204, 204, 204, 0.5);


  /* z index */
  --z-negative-1: -1;
  --z-1: 1;
  --z-5: 5;
  --z-10: 10;
}

[data-theme="dark"] {
  --white-black: #001408;
  --black-white: #FFFFFF;
  --grey-fe-44-75: rgba(68, 68, 68, 0.75);
  --grey-ee-33: #333333;
  --grey-22-88: #888888;
  --grey-33-cc: #CCCCCC;
  --grey-44-aa: #AAAAAA;
  --grey-44-cc: #CCCCCC;
  --grey-66-cc: #CCCCCC;
  --blue-e0-00: #004165;
  --blue-00-e0: #E0EDF2;
  --blue-df-24: rgba(36, 149, 149, 0.15);
  --green-e0-00: #004403;
  --overlay: rgba(0, 0, 0, 0.5);
}
