@use '/src/styles/size';
@use '/src/styles/function';

.footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-height: size.$footer-height;
  padding: size.$space-16 size.$space-32;
  gap: size.$space-8;
  background: var(--grey-22);
  color: var(--white);

  & > *:not(:last-child),
  .text > *:not(:last-child)
  {
    margin-right: size.$space-16;
  }

  .text-link {
    color: var(--white);
    &:hover {
      color: var(--grey-aa);
    }
  }

  .icons {
    display: flex;
    & > *:not(:last-child) {
      margin-right: size.$space-16;
    }
  }

  .icon-link,
  .license-text a {
    color: var(--white);
    &:hover {
      color: var(--grey-aa);
    }
  }

  .site-title {
    font-weight: 700;
  }

  a {
    text-decoration: none;
  }

  @media screen and (min-width: 768px) {
    flex-flow: row wrap;
    padding-left: size.$space-64;
    padding-right: size.$space-64;
    font-size: function.rem(14px);

    .icons {
      margin-right: auto;
    }

    .icon-link {
      font-size: 1.2em;
      cursor: pointer;
    }
  }
}
