<footer class="footer">
    <div class="icons">
        <a class="icon-link" routerLink="/">
            <fa-icon [icon]="faHome"></fa-icon>
        </a>
        <a class="icon-link" href="https://github.com/ng4eb/ng4eb" target="_blank">
            <fa-icon [icon]="faGithub"></fa-icon>
        </a>
        <a class="icon-link" href="https://angular.io" target="_blank">
            <fa-icon [icon]="faAngular"></fa-icon>
        </a>
    </div>
    <div class="text">
        <a class="text-link" routerLink="/toc">
            <fa-icon [icon]="faMap"></fa-icon>
            Table of Content
        </a>
        <span class="license-text">
            <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a>
        </span>
        <span> Updated @ <strong>30th Mar 2023</strong> </span>
    </div>
</footer>
