<footer class="footer">
    <a class="text-link" routerLink="/sitemap">Sitemap</a>
    <a class="text-link" routerLink="/roadmap">Roadmap</a>
    <span class="copyright-text">Copyright © 2022 ng4eb</span>
    <a class="icon-link" routerLink="/">
        <fa-icon [icon]="faHome"></fa-icon>
    </a>
    <a class="icon-link" href="https://github.com" target="_blank">
        <fa-icon [icon]="faGithub"></fa-icon>
    </a>
    <a class="icon-link" href="https://angular.io" target="_blank">
        <fa-icon [icon]="faAngular"></fa-icon>
    </a>
</footer>
