@use '/src/styles/size';
@use '/src/styles/function';

.footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-height: size.$footer-height;
  padding: size.$space-16 size.$space-32;
  gap: size.$space-8;
  background: var(--grey-22);
  color: var(--white);

  & > *:not(:last-child) {
    margin-right: size.$space-16;
  }

  .text-link {
    color: var(--white);
    &:hover {
      color: var(--grey-aa);
    }
  }

  .icons {
    display: flex;
    & > *:not(:last-child) {
      margin-right: size.$space-16;
    }
  }

  .icon-link {
    color: var(--white);
    &:hover {
      color: var(--grey-aa);
    }
  }


  @media screen and (min-width: 768px) {
    padding-left: size.$space-64;
    padding-right: size.$space-64;
    font-size: function.rem(14px);

    .copyright-text {
      margin-right: auto;
    }

    .icon-link {
      font-size: 1.2em;
      cursor: pointer;
    }
  }
}
