@use '/src/styles/function';
@use '/src/styles/mixin';
@use '/src/styles/size';

@keyframes addBorderRight {
  0% {
    border-right: 0 solid var(--grey-22-44);
  }
  75% {
    border-right: 0 solid var(--grey-22-44);
  }
  100% {
    border-right: 0.5px solid var(--grey-22-44);
  }
}

.sidebar {
  height: 100%;
  width: size.$collapse-sidebar-width;
  transition: width 0.2s ease-in-out;

  &__content {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100vh - #{size.$footer-height});

    &__head {
      display: flex;
      width: size.$collapse-sidebar-width;
      height: size.$collapse-sidebar-width;
      background: var(--grey-44-22);

      .site-title {
        display: none;
      }
    }
  }

  &.expanded {
    width: size.$sidebar-width;
    background: var(--white-black);
    border-right: 0.5px solid var(--grey-22-44);
    animation: addBorderRight 0.3s linear;

    .sidebar__content {
      width: size.$sidebar-width;

      &__head {
        width: size.$sidebar-width;
        .site-title {
          display: inline-grid;
          place-items: center;
          flex-grow: 1;
          a {
            display: inline-flex;
            color: var(--white);
            font-size: function.rem(36px);
            @include mixin.adventPro;
            text-decoration: none;
            & > *:not(:last-child) {
              margin-right: size.$space-8;
            }
          }
        }
      }

      &__body {
        padding-left: size.$space-26;
        padding-right: size.$space-26;
      }
    }
  }
}

.menu-icon-container {
  @include mixin.primary-desktop-icon;
  position: relative;
  display: grid;
  place-items: center;
  width: size.$collapse-sidebar-width;
  height: size.$collapse-sidebar-width;
  background: var(--grey-44-22);
}

$menu-icon-width: function.rem(30px);
$menu-icon-height: function.rem(2px);

@mixin menu-icon-size {
  width: $menu-icon-width;
  height: $menu-icon-height;
}

.menu-icon {
  @include menu-icon-size;
  background: var(--white);

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    @include menu-icon-size;
    background: var(--white);
  }

  &::before {
    transform: translate(-50%, function.rem(10px));
  }

  &::after {
    transform: translate(-50%, function.rem(-10px));
  }
}

.search-icon-container {
  display: grid;
  place-items: center;
  width: size.$collapse-sidebar-width;
  height: size.$collapse-sidebar-width;
  font-size: function.rem(25px);
  background: var(--grey-aa);
  color: var(--white);
  cursor: pointer;

  &:hover {
    background: var(--grey-bb);
  }

  &:active {
    background: var(--grey-cc);
  }
}

$search-bar-height: function.rem(46px);

.search-bar-container {
  display: flex;
  align-items: center;
  width: function.rem(280px);
  height: $search-bar-height;
  margin-top: size.$space-16;
  margin-left: auto;
  margin-right: auto;
  padding-left: size.$space-16;
  padding-right: size.$space-16;
  border-radius: 2px;
  background: var(--grey-aa);
  color: var(--white);
  fa-icon {
    flex-shrink: 0;
    margin-right: size.$space-8;
    font-size: 1.2em;
    cursor: pointer;
  }
  input {
    flex-grow: 1;
    min-width: 0;
    font-size: 1.2em;
    background: var(--grey-aa);
    color: var(--white);
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: var(--white);
      opacity: 1; /* Firefox */
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: var(--white);
    }
  }
}

.advanced-search {
  text-align: end;
  text-decoration: underline;
  color: var(--grey-66-cc);
  cursor: pointer;
}

.chapter-listing {
  height: calc(100vh - #{size.$footer-height} - #{size.$collapse-sidebar-width} - #{$search-bar-height} - #{size.$space-48});
  overflow-y: auto;
  padding-bottom: size.$space-16;
  padding-right: size.$space-4;
  font-size: function.rem(16px);
}
