<section class="roadmap">
    <div class="roadmap__container">
        <h1>Roadmap</h1>
        <div class="roadmap__graph">
            <div class="roadmap__graph__bubble done">
                <p><strong>Phase 1</strong></p>
                <p>
                    Preparation,<br/>Planning
                </p>
            </div>
            <div class="roadmap__graph__bubble active">
                <p><strong>Phase 2</strong></p>
                <p>
                    Content<br/>Development
                </p>
            </div>
            <div class="roadmap__graph__bubble active">
                <p><strong>Phase 3</strong></p>
                <p>
                    Functionality<br/>Development
                </p>
            </div>
            <div class="roadmap__graph__bubble">
                <p><strong>Phase 4</strong></p>
                <p>
                    Refinement,<br/>Addition
                </p>
            </div>
            <div class="roadmap__graph__bubble">
                <p><strong>Phase 5</strong></p>
                <p>
                    To Be<br />Confirmed
                </p>
            </div>
        </div>
    </div>
</section>
