<section class="roadmap">
    <div class="roadmap__container">
        <h1>Roadmap</h1>
        <div class="roadmap__graph">
            <div class="roadmap__graph__bubble done">
                <h2>Phase 1</h2>
                <p>
                    Preparation,<br/>Planning
                </p>
            </div>
            <div class="roadmap__graph__bubble active">
                <h2>Phase 2</h2>
                <p>
                    Content<br/>Development
                </p>
            </div>
            <div class="roadmap__graph__bubble">
                <h2>Phase 3</h2>
                <p>
                    Functionality<br/>Development
                </p>
            </div>
            <div class="roadmap__graph__bubble">
                <h2>Phase 4</h2>
                <p>
                    Refinement,<br/>Addition
                </p>
            </div>
            <div class="roadmap__graph__bubble">
                <h2>Phase 5</h2>
                <p>
                    To Be<br />Confirmed
                </p>
            </div>
        </div>
    </div>
</section>
