<div class="desktop-only">
    <div class="options-widget" (click)="toggleOptionsOpen()">
        <fa-icon [icon]="faEllipsisH"></fa-icon>
    </div>
</div>
<div class="options" *ngIf="isOptionsOpen">
    <div class="options__button" (click)="scrollToTop()">
        <fa-icon [icon]="faAngleDoubleUp"></fa-icon>
    </div>
    <button class="options__button" *ngIf="url.startsWith('/book/')" printSectionId="article-content" ngxPrint (click)="toggleOptionsOpen()">
        <fa-icon [icon]="faPrint"></fa-icon>
    </button>
</div>
