@use '/src/styles/size';
@use '/src/styles/function';
@use '/src/styles/mixin';

.options-widget {
  position: fixed;
  top: 50%;
  right: 0;
  display: grid;
  place-items: center;
  width: function.rem(55px);
  height: function.rem(55px);
  transform: translateY(-50%);
  border: 2.5px solid var(--grey-ee-33);
  @include mixin.primary-desktop-icon;


  fa-icon {
    font-size: 1.4em;
  }
}

.options {
  position: fixed;
  right: function.rem(64px);
  top: 45%;
  display: flex;
  flex-flow: column nowrap;
  width: function.rem(61px);
  padding: size.$space-8 size.$space-4;
  background: var(--grey-77);

  &__button {
    display: grid;
    place-items: center;
    width: 100%;
    height: function.rem(48px);
    border: none;
    @include mixin.primary-desktop-icon;
    &:not(:last-child) {
      margin-bottom: size.$space-4;
    }
  }
}
