@use 'styles/reset';
@use 'styles/size';
@use 'styles/variable';
@use 'styles/mixin';

html,
body {
  height: 100%;
}

body {
  @include mixin.roboto;
  background: var(--white-black);
  color: var(--black-white);
  overflow-x: hidden;
}

h1, h2, h3, p, ul, ol {
  line-height: 1.6;
}

input {
  border: none;
  outline: none;
}

a {
  color: var(--grey-66-cc);
  transition: all 0.1s;
  &:hover {
    color: var(--grey-44-aa);
  }
}

h2 {
  margin: size.$space-16 0 size.$space-26;
  font-size: 1.4em;
  text-align: center;
  border-bottom: 5px solid var(--grey-66-cc);
  &:not(:first-child) {
    margin-top: size.$space-32;
  }
}

h3 {
  margin-top: size.$space-16;
}

p, ul, ol, pre {
  margin-bottom: size.$space-12;
}

pre {
  width: 100%;
  padding: size.$space-8;
  background: var(--grey-ee-33);
  border: 1px solid #cccccc;
  border-radius: 5px;
  overflow-x: auto;
}

code {
  font-family: Inconsolata, monospace;
  font-size: 0.8em !important;
  color: var(--black-white);
}

@media print {
  img {
    max-width: 40vw;
  }
}

/* Global Classes */

.h2-anchor {
  display: inline-block;
  margin-left: size.$space-8;
  font-size: 0.95em;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    transition: all 0.15s;
    &:hover {
      transform: rotateZ(90deg) scale(1.2);
    }
  }
}

.desktop-only {
  display: none !important;
  @media screen and (min-width: 768px) {
    display: block !important;
  }
}

.mobile-only {
  @media screen and (min-width: 768px) {
    display: none !important;
  }
}

/* SCROLL BAR CUSTOMIZATION */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px var(--grey-44);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grey-aa);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--grey-66);
}
