<nav class="navbar mobile-only">
    <div class="outer-icon-container" (click)="toggleMenuOpen()">
        <div class="menu-icon-container">
            <div class="menu-icon"
                 [class.open]="isMenuOpen$ | async"></div>
        </div>
    </div>
    <span class="site-title">
        <a routerLink="/" (click)="closeMenu()">
            <app-logo width="30px"></app-logo>
            <span>ng4eb</span>
        </a>
    </span>
    <div class="outer-icon-container outer-icon-container--round">
        <app-theme-switch></app-theme-switch>
    </div>
    <div class="navbar__menu" *ngIf="isMenuOpen$ | async">
        <div class="search-bar-container">
            <fa-icon (click)="goFullSearch()"
                    [icon]="faSearch"
            ></fa-icon>
            <input
                    placeholder="search anything"
                    type="text"
                    #query
            />
        </div>
        <div class="chapter-listing">
            <ol class="chapter-listing__chapters">
                <li *ngFor="let chapter of chapterListing; let i = index">
                    <div class="chapter-listing__chapter">
                        Ch{{i + 1}} - {{chapter.title}}
                    </div>
                    <ol class="chapter-listing__parts">
                        <li *ngFor="let part of chapter.parts; let j = index">
                            <a (click)="onClickNormalLink()"
                                    [routerLink]="['/book/ch' + (i+1) + '/p' + (j+1)]">
                                P{{j + 1}}
                                - {{part.title}}</a>
                            <ol class="chapter-listing__sections">
                                <li *ngFor="let section of part.sections; let k = index">
                                    <a
                                            (click)="onClickHashTagLink('' + (k+1))"
                                            [routerLink]="['/book/ch' + (i+1) + '/p' + (j+1)]"  [fragment]="'' + (k+1)"
                                            [class.current]="url.startsWith('/book/ch' + chapter.ch + '/p' + (j+1)) && k === (currentPosition$ | async)"
                                    >
                                        {{section}}
                                    </a>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
</nav>
