<main class="homepage">
    <div class="homepage__container">
        <svg class="homepage__angular-logo"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 250 250">
            <path d="M125 153.4h-24.7l-11.7 29.2h0-21.7-.1L125 52.1v.1h0V30h0L31.9 63.2l14.2 123.1L125 230h0v-76.6zm-17-18h17 0V94.5z"
                  fill="#fff"/>
            <path d="M125 153.4h24.7l11.7 29.2h0 21.7.1L125 52.1v.1h0V30h0l93.1 33.2-14.2 123.1L125 230h0v-76.6zm17-18h-17 0V94.5z"/>
        </svg>
        <h1 class="homepage__title">
            Angular for Everybody
        </h1>
        <p class="homepage__desc">A free, online, concise
            eBook that explains Angular concepts in simple
            English</p>
        <div class="homepage__quick">
            <svg class="homepage__quick-logo"
                 viewBox="0 0 41 41"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="m28.488 27.612s5.8882-5.847 7.8852-7.9058c6.3206-6.1765 3.1706-18.9 3.1706-18.9s-12.662-3.15-18.838 3.1706c-4.8176 4.6941-7.947 7.9471-7.947 7.9471s-7.9059-1.6471-12.641 3.0882l25.22 25.282c4.7353-4.797 3.15-12.682 3.15-12.682zm-3.0882-18.529c0.3824-0.38284 0.8365-0.68655 1.3364-0.89377 0.4999-0.20721 1.0357-0.31387 1.5768-0.31387s1.0769 0.10666 1.5768 0.31387c0.4999 0.20722 0.954 0.51093 1.3364 0.89377 0.5754 0.57605 0.9671 1.3097 1.1256 2.1084 0.1585 0.7986 0.0767 1.6262-0.2351 2.3784-0.3117 0.7521-0.8395 1.3949-1.5165 1.8472-0.6771 0.4522-1.473 0.6936-2.2872 0.6936s-1.6101-0.2414-2.2872-0.6936c-0.677-0.4523-1.2048-1.0951-1.5166-1.8472-0.3117-0.7522-0.3936-1.5798-0.235-2.3784 0.1585-0.7987 0.5502-1.5324 1.1256-2.1084zm-23.223 29.153c3.811-0.1087 7.4594-1.5681 10.294-4.1176l-6.1764-6.1765c-4.1176 2.0588-4.1176 10.294-4.1176 10.294z"/>
            </svg>
            <p>Quick Start</p>
        </div>
        <ul class="homepage__links">
            <li>
                <a routerLink="/toc">Table of contents</a>
            </li>
            <li>
                <a routerLink="/faq/new-to-angular">I’m new
                    to Angular</a>
            </li>
            <li>
                <a routerLink="/faq/why-this-book">Why this
                    book?</a>
            </li>
            <li>
                <a routerLink="/faq/how-to-support">How to
                    support this project?</a>
            </li>
            <li>
                <a routerLink="/faq/contribution">How may I
                    contribute?</a>
            </li>
            <li>
                <a routerLink="/faq/resources">Resources</a>
            </li>
        </ul>
        <p class="homepage__cta">Learn Angular the easy way
            <br/> <small><a
                    href="https://github.com/ctfdavis"
                    target="_blank">Davis Chan</a>, an
                Angular evangelist</small></p>
    </div>
    <div class="square square--1 desktop-only"></div>
    <div class="square square--2 desktop-only"></div>
    <div class="square square--3 desktop-only"></div>
</main>
